/*  Components design*/

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

@import url("avatar.css"); 
@import url("button.css");
@import url("components_card.css");
@import url("badge.css");
@import url('/css/banner.css');
@import url('tab.css');
@import url('/css/product_design.css');


.body {
 font-family: 'Jost', sans-serif;
}


.container{
    width: auto;
}

h1 {
    opacity: 0.9;
    text-decoration: underline;
}

#section{
    margin: 10px;    
}

#section h2{
    font-weight: bold;
    color: black;
    opacity: 0.8;
} 

